.container{
  @apply
  min-h-screen
  bg-background_color
  flex
  flex-col
  items-center
  justify-center
  gap-10
}
.dashboardcontainer{
  @apply
  flex
  flex-wrap
  justify-center
  gap-8
  max-w-5xl
}



.card{
  @apply
  bg-white
  rounded-2xl
  shadow-xl
  p-6
  w-72
  flex
  flex-col
  items-center
  gap-4
  transition
  hover:scale-105
}


.cardTitle{
  @apply
  font-dyna
  text-xl
  text-center
}


.button{
  @apply
  mt-auto
  bg-blue-600
  text-white
  px-6
  py-2
  rounded-md
  font-semibold
  hover:bg-blue-700
  transition
}



.heading{
  @apply
  font-dyna
  text-5xl
  text-center
}