.dashboardcontainer{
  @apply
    flex
    flex-wrap
    justify-center
    gap-8
}

.card{
   @apply
    bg-white
    rounded-xl
    shadow-lg
    p-6
    w-64
    flex
    flex-col
    items-center
    transition
    hover:scale-105;

}

.cardTitle {
  @apply
    text-xl
    font-permanent
    text-gray-800
    mb-2;
}

.openButton {
  @apply
    mt-auto
    px-4
    py-2
    bg-indigo-600
    text-white
    rounded-lg
    hover:bg-indigo-700;
}

.bg{
    @apply 
    min-h-screen
}

.heading{
    @apply 
    text-gray-900
    text-3xl
    tracking-wider
    font-permanent
    text-center
}