.container{
  @apply
  flex
  bg-background_color
  min-h-screen
  bg-grid-small
}

.rightside{
  @apply
  flex-1
  flex
  flex-col
  justify-center
  items-center
}

.card{
  @apply
  rounded-2xl
  shadow-lg
  p-8
  w-96
  bg-background_color
}

.form{
  @apply
  flex
  flex-col
  gap-4
  w-full

}

.formheading{
  @apply
  font-dyna
  text-2xl
}

.inputfield{
  @apply
  px-4
  py-2
  rounded-md
  border
  border-gray-300
  focus:outline-none
  focus:ring-2
  focus:ring-blue-500

}

.button{
  @apply
  mt-4
  bg-blue-600
  text-white
  py-2
  rounded-md
  font-dyna
  hover:bg-blue-700
  transition
}

.registerline{
  @apply
  text-sm
  text-center
  text-gray-600
  font-dyna
  mt-2
  cursor-pointer
  hover:font-dyna
  hover:text-black
}

.leftside{
  @apply 
  flex
  flex-1
  flex-col
  justify-center
}

.leftcontent{
  @apply
  flex
  flex-col
  gap-6
  justify-center

}

.heading{
  @apply 
  font-dyna
  text-center
  text-8xl
}

.headingdesc{
  @apply
  font-dyna
  text-2xl
  text-center
}

.error {
  @apply
  text-sm
  text-red-600
  font-dyna
  text-center
  bg-red-50
  border
  border-red-300
  rounded-md
  px-3
  py-2;
}