.bg {
  @apply flex
    min-h-screen
    items-center
    justify-center
    bg-cover
    bg-center
    bg-no-repeat;
}

.card {
  @apply bg-white
    px-10
    py-12
    rounded-lg
    shadow-2xl
    w-1/4;
}

.form {
  @apply flex
    flex-col
    gap-4;
}

.inputbox {
  @apply w-full
    px-4
    py-3
    border
    border-gray-300
    rounded-md
    focus:outline-none
    focus:ring-2
    focus:ring-gray-900;
}
.inputbox:focus {
  @apply 
    text-gray-900
    text-lg
    tracking-wider
    font-permanent;
}

.labels {
  @apply block
    tracking-wider
    leading-relaxed
    mb-1
    text-2xl
    text-gray-950
    font-permanent;
}

.registerbutton {
  @apply w-full
    bg-gray-900
    text-white
    py-2
    rounded-md
    font-permanent
    transition-all
    
    focus:outline-none
    focus:ring-2
    focus:ring-gray-900;
}
.registerbutton:hover{
  @apply
   bg-gray-800
   translate-y-[-1px]

}


