.textElementBox {
  position: fixed;
  border: none;
  background: transparent;
  resize: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  font-family: "Caveat";
}

.container{
  @apply
  flex
  bg-background_color
  min-h-screen
  bg-grid-small
  
  
}